body
{
    width: 640px;
    margin: 0 auto;
}

p
{
    font-size: 110%;
    font-family: sans-serif;
}

#methods 
{
    max-width:100%;
}

#m1, #m2
{
    width:49%;
    float:left;
    padding:0;
    margin:0;
    border:1px solid red;
}



p.important
{
    color: red;
    font-weight: bold;
}

#first-para a
{
    text-decoration: none;
}
